@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.chat-container {
  height: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  justify-content: space-between;
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: auto;
}
.chat .MuiChip-label {
  white-space: pre-wrap;
  padding: 10px;
}
.chat .MuiChip-root {
  height: fit-content;
}
.contact {
  display: flex;
  align-items: center;
  margin: 5px auto;
}
.contact h4 {
  font-family: "Open Sans", "Raleway", sans-serif;
  padding-left: 10px;
}
.home {
  color: #3f51b5;
}

.notify {
  color: rgb(241 11 128);
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 0.7em;
}
